# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
- List languages used in data science.entList tools used in data science
- Some examples of arithmetic operationsmento 3

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:1. pyplot
2. numpy
3. pandas
4. ggplot

# Data Science Tools

 Data Science Tool    |
|---------------------|
|      RStudio        |
|       Spyder        |
| Jupyter Notebook    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
minutes = 200

#this will convert 200 minutes to hours by diving by 60
hours = minutes / 60
hours

3.3333333333333335

## Author : 
Isaac Ramirez